<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxfx.car.mapper.ReceptionMapper">
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cxfx.car.entity.Reception">
                    <id column="reception_id" property="receptionId"/>
                    <result column="user_id" property="userId"/>
                    <result column="work_id" property="workId"/>
                    <result column="user_name" property="userName"/>
                    <result column="order_id" property="orderId"/>
                    <result column="customer_id" property="customerId"/>
                    <result column="customer_name" property="customerName"/>
                    <result column="reception_time" property="receptionTime"/>
                    <result column="remark" property="remark"/>
        </resultMap>

    <sql id="selectVo">
        select
        reception_id, user_id, work_id, user_name, order_id, customer_id, customer_name, reception_time, remark
       from reception a
    </sql>
    <select id="getListByCondition" parameterType="com.cxfx.car.entity.Reception" resultMap="BaseResultMap">
        <include refid="selectVo"></include>
         where 1=1
    </select>

</mapper>
