<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxfx.car.mapper.UserInfoMapper">
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cxfx.car.entity.UserInfo">
                    <id column="user_id" property="userId"/>
                    <result column="username" property="username"/>
                    <result column="password" property="password"/>
                    <result column="role" property="role"/>
                    <result column="name" property="name"/>
                    <result column="departId" property="departId"/>
                    <result column="gender" property="gender"/>
                    <result column="birthday" property="birthday"/>
                    <result column="phone" property="phone"/>
                    <result column="email" property="email"/>
                    <result column="address" property="address"/>
                    <result column="idcard" property="idcard"/>
                    <result column="work_id" property="workId"/>
                    <result column="workstatus" property="workstatus"/>
                    <result column="remark" property="remark"/>
        </resultMap>

    <sql id="selectVo">
        select
        user_id, username, password, role, name, departId, gender, birthday, phone, email, address, idcard, work_id, workstatus, remark
       from user_info a
    </sql>
    <select id="getListByCondition" parameterType="com.cxfx.car.entity.UserInfo" resultMap="BaseResultMap">
        <include refid="selectVo"></include>
         where 1=1
    </select>

</mapper>
