<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxfx.car.mapper.WarehouseRecordMapper">
        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cxfx.car.entity.WarehouseRecord">
                    <id column="id" property="id"/>
                    <result column="user_id" property="userId"/>
                    <result column="work_id" property="workId"/>
                    <result column="user_name" property="userName"/>
                    <result column="warehouse_id" property="warehouseId"/>
                    <result column="name" property="name"/>
                    <result column="status" property="status"/>
                    <result column="time" property="time"/>
                    <result column="remark" property="remark"/>
        </resultMap>

    <sql id="selectVo">
        select
        id, user_id, work_id, user_name, warehouse_id, name, status, time, remark
       from warehouse_record a
    </sql>
    <select id="getListByCondition" parameterType="com.cxfx.car.entity.WarehouseRecord" resultMap="BaseResultMap">
        <include refid="selectVo"></include>
         where 1=1
    </select>

</mapper>
